<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89303463741-nuooe89h7petaocf77i2g3n6pnk3h4sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89303463741-nuooe89h7petaocf77i2g3n6pnk3h4sa</string>
	<key>API_KEY</key>
	<string>AIzaSyA53vLt8jOvdWKoBMa75q1vJjRMLeYap4A</string>
	<key>GCM_SENDER_ID</key>
	<string>89303463741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.karaokeRealOne</string>
	<key>PROJECT_ID</key>
	<string>karaoke-real-one</string>
	<key>STORAGE_BUCKET</key>
	<string>karaoke-real-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89303463741:ios:de53380eedb90f80ed7754</string>
	<key>DATABASE_URL</key>
	<string>https://karaoke-real-one-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>